* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: white;

}

body {
    margin: 0px;
    background: linear-gradient(to right, rgba(183, 33, 255, 0.8) 0%, rgba(33, 212, 253, 1) 100%), url("../img/background.jpeg") no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;
}

.logo {
    width: 5rem;
    box-sizing: content-box;
    padding-left: 3rem;
    display: inline;
}

nav ul {
    height: 5rem;
    list-style: none;
    display: flex;
    font-size: 1.5rem;
}

nav ul li {
    padding: 0 3rem;
    line-height: 5rem;
    animation: slideIn .5s forwards;
}

.nav-right {
    margin-right: 6rem;
}

.main {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero {
    height: 80vh;
    flex: 1;
}

.query {
    padding-top: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.description {
    display: flex;
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description h1 {
    font-size: 3.5vw;
    letter-spacing: 2px;
    margin-right: -3px;
    font-weight: 900;
    margin-bottom: 2rem;
    text-align: left;
}

.description p {
    font-size: 1.6vw;
    margin-bottom: 4rem;
    font-weight: 100;
    /* text-align: justify; */
}
.query h3{
    font-size: 1.4rem;
    text-align: left !important;
    margin-bottom: 1rem;
    margin-left: -9rem;
    /* margin: 1rem auto; */
}

.query h4{
    font-size: 1.4rem;
    text-align: left !important;
    margin-top: 3rem;
    margin-left: -11rem;
    /* margin: 1rem auto; */
}

input[type="submit"] {
    background-color: rgba(253, 87, 191, 0);
    color: #eee;
    padding: 0.7rem 0.8rem;
    cursor: pointer;
    width: 10rem;
    transition: background-color 650ms;
    border: 1px solid #ffffff;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 1rem;
}

textarea {
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
}

input[type="submit"]:hover {
    color: #221e3f;
    background-color: white;
}

@keyframes slideIn {
    from {}

    to {
        transform: translateX(0);
    }
}